body{
  background-color: black;
  font-family: sans-serif;
  background-size: cover;
  h1{
    color: maroon;
  }


}
.container{
  margin-top:50px;
  text-align: center;
  /* background-image: url(quiz.jpeg); */


}
.jumbotron{
  background-attachment: fixed;

}
.panel panel-info{

}
/* .pane-{
  background-color: blue;
} */

#Quiz{
  background-image: url(quiz.jpeg);
  color:white;

}

}
