body{
  background-color: purple;


}
.container{
  margin-top:50px;
  text-align: center;
  /* background-image: url(quiz.jpeg); */


}
.jumbotron{

}
.panel panel-info{

}
/* .pane-{
  background-color: blue;
} */

#Quiz{
  background-image: url(quiz.jpeg);

}
